*{
    margin: 0;
    padding: 0;
}
.container
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.row
{
    display: flex;
    justify-content: space-between;
}

.box
{
    width: 70px;
    height: 70px;
    background-color: red;
    border: 2px solid black;
}
