.cont
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7px;
    background-color: cadetblue;
   box-sizing: content-box;
   width: 100vw;
   height: 100vh;
   justify-content: flex-end;
  
   
}
.row{
   margin-top: 12px;
    border: 0ch;
    background-color: rgb(52, 114, 230);
    width: 25%;
    height: 25%;
}