.outer-box{
    height:500px;
    width:500px;
    border: 2px solid rgba(83, 156, 224, 0.425);
    align-self: center;
    background-color: darkcyan;
   
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    }
    .row-1{
        display:flex;
        justify-content:space-between;
        margin: 2px;
       
         
      }
    .row-1-left{
      width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
    
      
    }
    .row-1-center{
        width:50px;
        height:50px;
        background-color:white;
        border: 1px solid burlywood;
        
    }
    .row-1-right{
        width:50px;
        height:50px;
        background-color:white;
        border: 1px solid burlywood;
        
    }
   
    .row-2{
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin: 2px;
    }
    
    .row-2-left{
      width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
    }
    .row-2-center{
      width:150px;
      height:160px;
      
    }
    .row-2-right{
      width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
    }
    .row-3{
        display:flex;
        justify-content:space-between;
      }
    .row-3-left{
      width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
    }
    .row-3-center{
      width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
    }
    .row-3-right{
      width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
      margin: 2px;
    }
    .row-2-center-boxs{
     width:100%;
     display:flex;
     justify-content:center;
     margin: 2px;
    
    }
    .row-2-center-boxs-inner{
      width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
      
    }
    .row-2-center-center-boxs-inner-left{
       width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
      margin: 2px;
          }
    .row-2-center-center-boxs-inner-center{
    
     width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
      margin: 2px;
    }
    .row-2-center-center-boxs-inner-right{
       width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
      margin: 2px;
    }
    .row-2-center-center-boxs{
      display:flex;
      justify-content:space-between;
     
     
    }
    .row-2-center-boxs-inner-last{
        width:50px;
      height:50px;
      background-color:white;
      border: 1px solid burlywood;
      
    }
    .row-2-center{
      display:flex;
      flex-direction:column;
      justify-content:space-between;
    }
    
    /*  Pseudo CSS  */
    a:active {
  background-color: yellow;
}
input:checked {
  height: 20px;
  width: 20px;
}

input[type=text]:enabled {
  background: #8377f0;
}

input[type=text]:disabled {
  background: #dddddd;
}

p:first-child {
  background-color: yellow;
}

p:first-of-type {
  background: red;
}

input:in-range{
  border: 2px solid yellow;
  width: 140px;
}

li:nth-child(2) {
  background: lightgreen;
}

p:nth-last-of-type(3) {
  background: rgb(50, 66, 207);
}
