.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
   
    gap: 10px;
    background-color:white;
    padding: 10px;
   
  }
  
  .grid-container > div {
    background-color: pink;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
  }
  
  .new
  {
      width: 60%;
  }
  